.toast-wrapper {
    position: fixed;
    top: 0px;
    right: 24px;
  
    .toast-container {
      background-color: green;
      padding: 16px;
      display: flex;
      justify-content: space-between;
      width: 240px;
      border-radius: 12px;
      color: white;
      margin-top: 16px;
      animation: toast-animation 1s;
  
      label {
        text-transform: capitalize;
      }
  
      &.info {
        background-color: blue;
      }
  
      &.warning {
        background-color: orange;
      }
  
      &.error {
        background-color: red;
      }
    }
  }
  
  @keyframes toast-animation {
    0% {
      transform: translate(100%);
    }
    100% {
      transform: translate(0);
    }
  }
  