* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  
}


.Header {
  background-color: rgb(77, 77, 130);
  height: 75px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  font-size: xx-large;
  margin-bottom: 50px;
  text-align: center;
  padding-top: 20px;
}

.compA {
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(87, 106, 137);
}

.compB {
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: burlywood;
}

.compC {
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: cadetblue;
}

.comp {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 4px;
  margin-left: 50px;
}

.breadcrumb-wrapper {
  display: flex;
  gap: 6px;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  border: 1px solid gainsboro;
  width: min-content;
  padding: 25px;
}

.grid-container {
  border: 1px solid gainsboro;
  height: 120px;
  width: 120px;

  &:nth-child(5){
     visibility: hidden;
  }

  &.grid-selected {
    background: green;
  }
}

.grid {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}