* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  
}


.Header {
  background-color: rgb(77, 77, 130);
  height: 75px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  font-size: xx-large;
  margin-bottom: 50px;
  text-align: center;
  padding-top: 20px;
}

.compA {
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(87, 106, 137);
}

.compB {
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: burlywood;
}

.compC {
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: cadetblue;
}

.comp {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 4px;
  margin-left: 50px;
}